<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FARMATODO</title>
    <meta charset="utf-8" />
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="../../images/favicon.ico" />
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" href="../../bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" href="../../assets/styles.css" rel="stylesheet" media="screen"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<script th:src="@{/vendors/jquery-1.9.1.min.js}" src="../../vendors/jquery-1.9.1.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../../bootstrap/js/bootstrap.min.js"></script>
<body>
<div th:fragment="footer">
    <table>
    <tr>
        <td width="459" height="40"><div align="left"><span class="fuenteWizard">&nbsp;&nbsp;Herramienta optimizada para IE9, Chrome y FireFox.</span></div></td>
        <td width="410"><div align="right"><span class="fuenteWizard">FARMATODO C.A. 2017. ${NameApp} Versi&oacute;n: 1.0.0&nbsp;&nbsp;</span></div></td>
    </tr>
    </table>
</div>
</body>
</html>