<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>FARMATODO</title>
        <meta charset="utf-8" />
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="../../images/favicon.ico" />
        <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" href="../../bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
        <link th:href="@{/assets/styles.css}" href="../../assets/styles.css" rel="stylesheet" media="screen"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    </head>

    <body th:fragment="Additem">

    <div class="container-fluid">
        <div class="row-fluid">
            <!--/span-->
            <div class="span9" id="content">
                  <!-- morris stacked chart -->
                <div class="row-fluid">
                    <!-- form demo -->
                    <div class="row-fluid section">
                         <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Demo</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend>Demo</legend>
                                            <div class="control-group">
                                                <label class="control-label" for="itemId">ItemId:</label>
                                                <div class="controls">
                                                    <input class="input-xlarge focused" id="itemId" ng-model="itemId" type="text" value="Dato1"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="itemDesc">ItemDesc:</label>
                                                <div class="controls">
                                                    <input class="input-xlarge focused" id="itemDesc" ng-model="itemDesc" type="text" value="Dato2"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="image">Image:</label>
                                                <div class="controls">
                                                    <input class="input-xlarge focused" id="image" ng-model="image" type="text" value="Dato3"/>
                                                </div>
                                            </div>

                                            <div class="form-actions">
                                                <button id="addBtn" class="btn btn-primary" ng-click="addItem()">Añadir Item</button>
                                                <button type="reset" class="btn">Cancel</button>
                                                <h4>{{msg}}</h4>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                    <!-- /form demo -->
                    <div class="row-fluid">
                        <div class="block2">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">RESULTADOS</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>ItemId</th>
                                            <th>ItemDesc</th>
                                            <th>Image</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in Items">
                                            <td>{{item.itemId}}</td>
                                            <td>{{item.itemDesc}}</td>
                                            <td>{{item.image}}</td>
                                        </tr>
                                        </tbody>
                                        aaaa:${NameApp}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>
                <!--/div row-fluid-->
            </div>
        </div>
    </div>
        <!--/.fluid-container-->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-resource.js"></script>
    <script th:src="@{/js/services.js}" src="../../js/services.js" />
    <script th:src="@{/vendors/jquery-1.9.1.min.js}" src="../../vendors/jquery-1.9.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../../bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>