<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>FARMATODO</title>
    <meta charset="utf-8" />
    <!-- Bootstrap -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="../../images/favicon.ico" />
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" href="../../bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/styles.css}" href="../../assets/styles.css" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/material-dashboard.css}" href="../../assets/material-dashboard.css" rel="stylesheet" media="screen"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  </head>
  <body>
    <div class="wrapper2">
      <!-- Navigation -->
      <nav class="navbar navbar-default log1 col1 navbar-static-top" role="navigation" style="height: 80px">
        <!-- /.navbar-header logo -->
        <div class="navbar-header log1">
          <a href="#"><img th:src="@{/images/logo.png}" src="../../images/logo.png"/></a>
        </div>
      </nav>
      <!--Image-->
      <div class="navbar-static-top col1" style="background: #f5f8fb">
        <a href="#"><img th:src="@{/images/header.jpg}" src="../../images/header.jpg"/></a>
      </div>
      <div id="login">
        <!--Login-->
        <div class="container">
          <form class="form-signin" action="home">
            <label class="form-signin-heading">Iniciar sesión</label>
            <input type="text" class="input-block-level" placeholder="Usuario"/>
            <input type="password" class="input-block-level" placeholder="Contraseña"/>
            <label class="checkbox">
              <input type="checkbox" value="remember-me"/> Recordar sesión
            </label>
            <button class="btn btn-large btn-primary" type="submit">Ingresar</button>
            <div>
              <label>Para recuperar contraseña, ingresa <a href="home">aquí</a>.</label>
            </div>
          </form>
        </div> <!-- /container -->
      </div>
    </div>
    <script th:src="@{/vendors/jquery-1.9.1.min.js}" src="../../vendors/jquery-1.9.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>